/* =-=-=-= Import Google Font =-=-=-=-= */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* =-=-=-= Some important variables =-=-=-=-= */
:root {
    /* =-= colors =-= */
    --menu-color: #333;
    --light-color: #f2f2f2;
    --active-color: #04AA6D;
    --hover-color: #ddd;

    /* =-= Fonts and typography =-= */
    --body-font: 'Poppins', sans-serif;
    --normal-font-size: 1rem;
}

/* =-= Base =-= */
*,
::before,
::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

h1,
h2,
h3,
ul,
p {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* =-= Navigation =-= */
.nav {
    overflow: hidden;
    background-color: var(--menu-color);
}

.nav a {
    float: left;
    display: block;
    color: var(--light-color);
    text-align: center;
    padding: .875rem 1rem;
}

.nav a:hover {
    background-color:var(--hover-color);
    color: black;
}

.nav a.active {
    background-color: var(--active-color);
    color: white;
}

.nav a.icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .nav a:not(:first-child) {
        display: none;
    }
    
    .nav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .nav.responsive {
        position: relative;
    }

    .nav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}